@media only screen and (max-width: 768px) {
    #state-flag {
        display: none;
    }
}

#dropdown {
    position: absolute;
    top: 43%;
    left: 25%;
    z-index: 1;
    width: 40%;
}

#data-table {
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 1;
    width: 30%;    
}